<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New landmark</title>
</head>
<body>

<form th:method="POST" th:action="@{/landmark}" th:object="${landmark}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error</div>
    <br/>
    <label for="date">Enter date: </label>
    <input type="date" th:field="*{date}" id="date"/>
    <div style="color:red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">date Error</div>
    <br/>
    <label for="description">Enter description: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description Error</div>
    <br/>
    <label for="type">Enter type: </label>
    <input type="text" th:field="*{type}" id="type"/>
    <div style="color:red" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">type Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>